<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>pl.pawww.hurt.servlets.users.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAllUsers</servlet-name>
        <servlet-class>pl.pawww.hurt.servlets.users.showAllUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>pl.pawww.hurt.servlets.products.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAllShops</servlet-name>
        <servlet-class>pl.pawww.hurt.servlets.products.showAllShops</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/users/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAllUsers</servlet-name>
        <url-pattern>/users/showAllUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/products/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAllShops</servlet-name>
        <url-pattern>/products/showAllShops</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
